extends layout

block content
  head
    //if lt IE 7
      html.no-js.ie6.oldie(lang='en')  
    //if IE 7
      html.no-js.ie7.oldie(lang='en')  
    //if IE 8
      html.no-js.ie8.oldie(lang='en')  
    //if IE 9
      html.no-js.ie9.oldie(lang='en')  
    meta(charset='utf-8')
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='Coming soon, Bootstrap, Bootstrap 3.0, Free Coming Soon, free coming soon, free template, coming soon template, Html template, html template, html5, Code lab, codelab, codelab coming soon template, bootstrap coming soon template')
    title Bootstrap Templates
    // ============ Google fonts ============
    link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800', rel='stylesheet', type='text/css')
    // ============ Add custom CSS here ============
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/registerStyle.css') 
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    
    //link(rel='stylesheet', href='/bower_components/jquery-backstretch-2/jquery.backstretch.js')
    // 최신 backstretch CDN 으로 변경함
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
    
  body
    .container
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center
        #banner
          h1
            | Register your house
            strong TO PEOPLE ALL OVER THE WORLD  
            |  with AirCNC
          h5
            strong 60132271 박준호
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .registrationform
          form.form-horizontal(action = "/hotelregister" method='POST')
            fieldset
              legend
                | Hotel Registration
                i.fa.fa-pencil.pull-right
              .form-group
                label.col-lg-2.control-label(for='inputEmail')
                  | HouseName
                .col-lg-10
                  input#houseName.form-control(type='text', placeholder='HouseName', name='houseName')
              .form-group
                label.col-lg-2.control-label(for='inputPassword')
                  | Region
                .col-lg-10
                  select.regionSelect(name='region' type='submit')
                    option(value='') Select your region
                    option(value='서울') 서울
                    option(value='경기도') 경기도
                    option(value='강원도') 강원도
                    option(value='충청북도') 충청북도
                    option(value='충청남도') 충청남도
                    option(value='경상북도') 경상북도
                    option(value='경상남도') 경상남도
                    option(value='전라북도') 전라북도
                    option(value='전라남도') 전라남도
                    
              .form-group                
                input#post1(type='text', name='postnum1')
                |  - 
                input#post2(type='text', name='postnum2')
                input(type='button', onclick='openDaumPostcode()', value='우편번호 찾기')
                input#addr(type='text', name='roadNum')
                input#addr2(type='text', name='detailAddress')

              .form-group
                label.col-lg-2.control-label(for='textArea')
                  | Introduction
                .col-lg-10
                  textarea#introduction.form-control(rows='3', name='introduction')
                  //
                    <span class="help-block">A longer block of help text that breaks onto a new line and
                    may extend beyond one line.</span>
              .form-group
                label.col-lg-2.control-label(for='select')
                  | Selects
                .col-lg-10
                  select#select.form-control(name='select')
                    option 1 person
                    option 2 people
                    option 3 people
                    option 4 people
                    option 5~10 people
              
              .form-group
                label.col-lg-2.control-label(for='inputEmail')
                  | Price
                .col-lg-10
                  input#price.form-control(type='text', placeholder='Price', name='price')
              .form-group
                .col-lg-10.col-lg-offset-2
                  button.btn.btn-warning(type='reset')
                    | Cancel
                  button.btn.btn-primary(type='submit')
                    | Submit
    
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='http://dmaps.daum.net/map_js_init/postcode.js')
    script.
      function openDaumPostcode() {
        new daum.Postcode({
          oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            // 우편번호와 주소 정보를 해당 필드에 넣고, 커서를 상세주소 필드로 이동한다.
            document.getElementById('post1').value = data.postcode1;
            document.getElementById('post2').value = data.postcode2;
            document.getElementById('addr').value = data.address;
            //전체 주소에서 연결 번지 및 ()로 묶여 있는 부가정보를 제거하고자 할 경우,
            //아래와 같은 정규식을 사용해도 된다. 정규식은 개발자의 목적에 맞게 수정해서 사용 가능하다.
            //var addr = data.address.replace(/(\\s|^)\(.+\)$|\S+~\S+/g, '');
            //document.getElementById('addr').value = addr;
            document.getElementById('addr2').focus();
          }
        }).open();
      }

    
    script(type='text/javascript').
      'use strict';
      /* ========================== */
      /* ::::::: Backstrech ::::::: */
      /* ========================== */
      // You may also attach Backstretch to a block-level element
      
      
      //$.backstretch(['../images/main1.jpg']);
      
      $.backstretch(
      [
      "../images/44.jpg",
      "../images/colorful.jpg",
      "../images/34.jpg",
      "../images/images.jpg"
      ],
      {
      duration: 4500,
      fade: 1500
      }
      );
