extends layout

//- block hero-unit
//-   .jumbotron
//-     .container
//-       h1 BIGBANG-TODO

//- block content
//-   .container
//-     .row
//-       .col-md-6
//-         h3 서비스 목적
//-         p 본 서비스는 웹프로그래밍 수업을 위해서 sample로 만들어보는 것입니다. 
//-       .col-md-6
//-         h3 주요 기능
//-         ul
//-           li 사용자 관리
//-           li 할 일 기록
//-           li 기록 내용: 분류, 내용, 중요도, deadline
//-           li 완료된 일 체크
          
block header
 header
  .header-content
    .header-content-inner
      h1#homeHeading Have Fun with AirCNC
      hr
      p
        | share with your friends
      a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More
      
block section1
  section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Register you house or travel around the world
          hr.light
          p.text-faded
            | Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
          a.page-scroll.btn.btn-default.btn-xl.sr-button(href='#services') Get Started
          
block section2
  section#services
    .container
      .row
        .col-lg-12.text-center
          i.fa.fa-cog.fa-spin.fa-3x.fa-fw 
          h2.section-heading At Your Service
          hr.primary
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-5x.fa-child.text-primary.sr-icons
            h3 Be a host
            p.text-muted Sign in and make everyone see your gorgeous house !
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-5x.fa-eye.text-primary.sr-icons
            h3 Travel aournd the world 
            p.text-muted Find house that you really like
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
            h3 Up to Date
            p.text-muted We update dependencies to keep things fresh.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-heart.text-primary.sr-icons
            h3 Made with Love
            p.text-muted You have to make your websites with love these days!
          
block section3
  section#contents
    .container-fluid
      
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/hotel')
            img.img-responsive(src='../images/main5.jpg', alt='' )
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | Hotel List
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/hotelregister')
            img.img-responsive(src='../images/main5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | Hotel Register
        .col-lg-4.col-sm-6
          a.portfolio-box(href='/myreservation')
            img.img-responsive(src='../images/main5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | MyReservation
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/4.jpg')
            img.img-responsive(src='../images/main5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | Epilogue
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/5.jpg')
            img.img-responsive(src='../images/main5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | Favorite
        .col-lg-4.col-sm-6
          a.portfolio-box(href='userProfile')
            img.img-responsive(src='../images/main5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | AirCNC
                .project-name
                  | Profile
                  

block section4
  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Let's Get In Touch!
          hr.primary
          p
            | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .col-lg-4.col-lg-offset-2.text-center
          i.fa.fa-phone.fa-3x.sr-contact
          p 010-9968-7785
        .col-lg-4.text-center
          i.fa.fa-envelope-o.fa-3x.sr-contact
          p
            a(href='mailto:your-email@your-domain.com') pjh374968@gmail.com




            
    
