doctype html
html(lang='ko')
  head
    block title
      title AirCNC
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/creative.css')
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js')
    script(src='/bower_components/scrollreveal/dist/scrollreveal.min.js')
    
  body
    block top-nav
      include ./includes/topnav
    //- block hero-unit
    //- .main-content
    //-   if flashMessages
    //-     each texts, type in flashMessages
    //-       .container
    //-         .alert(class='alert-#{type}')
    //-           each msg in texts
    //-             p= msg         
    //-           
    
    // content없으면 에러남  
    block header
    block content 
    block section1
    block section2
    block section3
    block section4



    script(type='text/javascript', src='/javascripts/creative.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js')
    
    block footer
      include ./includes/footer
